<% include ../partials/header %>
  <div class="container">
    <h1 class="text-center mt-4">THIS IS THE SECRET PAGE</h1>
    <a href="/auth/logout" class="logout">Logout</a>
    <a href="/" class="logout">Back to Home</a>
  </div>
<% include ../partials/footer %>
