<% include partials/header %>
  <div class="container mt-5">
    <h1 class="text-center"><%= title %></h1>
    <small class="author">by germancutraro</small>
    <ul>
      <li><a href="/auth/register">Register</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <div class="post">

    </div>
  </div>
<% include partials/footer %>
